* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Verdana", "Geneva", "Calibri", sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
}
header {
    height: 10%;
    width: 100%;
    background-color: #222;
    color: white;
}
header a {
    text-decoration: none;
    color: #ccc;
}
.compiler {
    font-size: 3em;
    width: 100%;
    height: 90%;
    color: white;
    font-weight: 700;
    background-color: #000;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.compiler button {
    background-color: #f77;
    color: white;
    margin: 50px;
    text-align: center;
    padding: 20px;
    font-size: 1.4em;
    font-weight: 500;
    border-radius: 10px;
    transform: scale(1.5);
}
.compiler label {
    display: block;
    margin: 20px;
}
.compiler input {
	transform: scale(1.5);
	margin: 50px;
}
#outputBox {
	background-color: #00f;
	color: white;
	text-align: center;
	margin-top: 30px;
}
